.home {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  .slide {
    height: 315px;
  }
  .card {
    .btn-add,
    .btn-sub {
      padding: 0;
      margin: 0;
      background: white;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 2px solid #ccc;
      display: flex;
      justify-content: center;
      align-items: center;
      outline: none;
    }
  }
  .city-card {
    cursor: pointer;
    & > div {
      border-radius: 10px;
    }
    .img-thumbnail {
      border-radius: 0.8rem;
    }
    :hover {
      transform: scale(1.02);
    }
    &__title {
      font-weight: 500;
      text-align: center;
      color: #444444;
    }
  }
}
