.header {
  .nav-link {
    color: 'rgba(0,0,0,.9)';
  }
  background: white;
  z-index: 999;
  border-bottom: 1px solid #ccc;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.4);
  &__logo {
    margin-right: 1.5rem;
    padding: 0.2rem;
  }
  &__logo img {
    height: 45px;
  }
  &__icon {
    width: 15px;
    height: 15px;
  }
  .nav-link {
    display: flex;
    align-items: center;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .active {
    background: #337ab7 !important;
    color: white !important;
  }
  .active &__icon {
    filter: invert(99%) sepia(100%) saturate(5%) hue-rotate(3deg)
      brightness(105%) contrast(100%);
  }
}
