/* ==================== footer ==================== */
.footer-content {
  background: #383838;
  color: white;
  padding: 20px;
  margin: 50px 0px 0px 0px;
  h3,
  li {
    margin-bottom: 20px;
  }
  .top {
    color: yellow;
    font-size: 25px;
    position: relative;
    animation: Top 1s ease-in-out 0s infinite;
  }
  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
  }
  @keyframes Top {
    from {
      top: 5px;
    }
    to {
      top: 10px;
    }
  }
  a {
    color: white;
  }

  .lienhe__icon {
    filter: invert(99%) sepia(100%) saturate(5%) hue-rotate(3deg)
      brightness(105%) contrast(100%);
    height: 15px;
  }
}
