.room-table {
  th {
    width: 40%;
    background-color: #f1f6fa;
    color: #8b99a7;
    padding: 6px !important;
    text-align: center;
  }
}

input[type='checkbox']:checked + .equiment-icon {
  background: #4194dd;
  color: white;
}

.equiment-icon {
  min-width: 270px;
  margin: 25px;
  max-width: 100%;
  border: 1px solid #ccc;
  &:hover {
    background: #e6e6e6;
  }
}
