.checkout {
  background: #dff0d2;
}
.hotel-info {
  border-radius: 5px;
  flex-grow: 8;
}
.datngay {
  width: 300px;
  flex-grow: 4;
  border-radius: 5px;
}
.header1 {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.header2 {
  border: 1px solid #337ab7;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.textbottom {
  background: #dff0d2;
  color: #60744f;
}
